**/node_modules
# **/.env genrally env must not be uploaded , but here we're not
# ignoring since of learning purposes.
**/.vscode/*
**/!.vscode/settings.json
**/!.vscode/tasks.json
**/!.vscode/launch.json
**/!.vscode/extensions.json
**/!.vscode/*.code-snippets

# Local History for Visual Studio Code
**/.history/

# Built Visual Studio Code Extensions
**/*.vsix