.example-card {
    min-height: 300px;
    max-height: 300px;
     }
   img{
       max-height:190px;
       min-height:190px;
       max-width: 70%;
   }
   .m-auto{
     margin: auto;
   }
   .mt{
       margin-top:20px;
   }
   .invisible{
       display: none;
   }