.example-card {
 height: 300px;
  }
img{
    max-height:200px;
    max-width: 70%;
}
.m-auto{
  margin: auto;
}
.mt{
    margin-top:20px;
}
.ml-10{
  margin-left:10%;
}
.ml-15{
  margin-left:15%;
}
.ml-20{
  margin-left:22%;
}
