<div fxLayout.gt-sm="row wrap" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center"
 style="margin-top: 20px;">
    <mat-card class="example-card" *ngFor="let item of arr" fxFlex.gt-sm="300px;" fxFlex="80%" ngClass.gt-sm="mt">
        <mat-card-header>
          <mat-card-title>Shiba Inu</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" 
        alt="Photo of a Shiba Inu" ngClass.lt-md="m-auto">
        <!-- CC use {{imgUrl}} for dynamic url from ts file -->
        <!-- <img mat-card-image src="{{imgUrl}}" alt="Photo of a Shiba Inu" ngClass.lt-md="m-auto"> -->
        <mat-card-content style="margin-top:5px;">
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          </p>
        </mat-card-content>
      </mat-card>
</div>
  
