<section class="profile__page">
<div fxLayout fxLayoutAlign="center center" style="margin-top: 20px;">
    <button mat-raised-button color="primary" (click)="openDialog()">Create Post</button>
</div>
<div>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
           <a mat-tab-link  [active]="link === 'user'" routerLink="user/details">My Details</a>
           <a mat-tab-link  [active]="link === 'posts'" routerLink="posts/user">My Posts</a>
      </nav>
      <mat-tab-nav-panel #tabPanel><router-outlet (activate)="componentAdded($event)"></router-outlet></mat-tab-nav-panel>
           
</div>

</section>